	/* ----------- Begin CSS -----------  */
	
	body {
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;	
	margin: 0px;
	background-color: #f1f1f1;
	}
	
	h1 {
	color: #35acd7;
	font-size: 52px;
	font-weight: 700;
	margin: 0;
	}
	
	h2 {
	font-size: 42px;
	
	}
	
	
	h3 {
	font-size: 30px;
	margin: 0px;
	color: #686868;
	padding-top: 10px;
	}
	
	
	h4 {
	font-size: 22px;
	}
	
	
	h5 {
	font-size: 18px;
	}
	
	
	h6 {
	font-size: 12px;
	}
		
	/* ----------- Navigation / Header -----------  */	
				
	.container {
	background: url(http://i.imgur.com/w1T59Du.jpg) no-repeat center;
	height: 508px;
	}
	
	
	#fake_nav {
   /* position: fixed; */
	}
	
	
	.nav {
    left: 0;
    min-width: 1160px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 99;
	}
	
	
	.nav-container {
    margin: 0 auto;
    width: 1160px;
	}
	
	
	.nav ul {
    display: block;
    float: right;
    margin: 0;
    padding: 28px 0 0;
    position: relative;
	}
	

	ol, ul {
    list-style: outside none none;
	}	


	.nav ul li {
    display: block;
    float: left;
    margin: 0 0 0 25px;
    padding: 0;
	}
	
	
	.nav ul li a {
    color: #f1f1f1;
    display: block;
    font-size: 22px;
    font-weight: 700;
    height: 21px;
    line-height: 21px;
    text-decoration: none;
    text-transform: uppercase;
	}
	
	.nav ul li a:hover {
    color: #35acd7;
    
	}
	
	
	/* ----------- Main -----------  */
	
	
	
	.bio-pic {
	padding: 38px;
	}
	
	
	.circular-image {
	width: 270px;
	height: 270px;
	border: .5em solid white;
	border-radius: 250px;
	-webkit-border-radius: 250px;
	-moz-border-radius: 250px;
	background: url(http://i.imgur.com/Fw9knzM.png) no-repeat center;
	background-size: 150px;
	background-color: #D4D4D4;
	margin-top: 318px
	}
	
	
	.name {
	margin: 180px 0px 40px 0px;
	}
	
	.attr {
	margin-bottom: 0px;
	      }
	
	.column1 {
	display: inline-block;
	width: 400px;
	height: 60px;
	background-color:#D4D4D4;
	margin: 40px 20px 10px 0px;
	
	/*border: .5em solid white; */
	}
	
	.column2 {
	display: inline-block;
	width: 400px;
	height: 60px;
	background-color:#D4D4D4;
	margin: 40px 20px 10px 20px;
	/*border: .5em solid white; */
	}
	
	.column3 {
	display: inline-block;
	width: 400px;
	height: 60px;
	background-color:#D4D4D4;
	margin: 40px 0px 10px 20px;
	/*border: .5em solid white; */
	}
	
	.column4 {
	display: inline-block;
	width: 400px;
	height: 300px;
	background-color:#D4D4D4;
	margin: 0px 20px 0px 0px;
	/*border: .5em solid white; */	
	}
	
	.column4 ul {
	padding-left: 30px;
	/*border: .5em solid white; */	
	}
	
	.column5 {
	display: inline-block;
	width: 400px;
	height: 300px;
	background-color:#D4D4D4;
	margin: 0px 20px 0px 20px;
	/*border: .5em solid white; */
	}
	
	.column5 ul {
	padding-left: 55px;
	/*border: .5em solid white; */	
	}
	
	
	.column6 {
	display: inline-block;
	width: 400px;
	height: 300px;
	background-color:#D4D4D4;
	margin: 0px 0px 0px 20px;
	/*border: .5em solid white; */
	}
	
	.column6 ul {
	padding-left: 105px;
	/*border: .5em solid white; */	
	}
	
	
	.contents li {
	font-size: 24px;
	color: #686868;
	text-align: left;
	padding-left: 60px;
	list-style-type: initial;
	list-style-position: inside;
	margin-left: -40px;
	}
	
	
	.about-me {
	margin-top: 80px;
	/*margin-bottom: 10px; */
	padding-top: 40px;
	height: 400px;
	font-size: 24px;
	color: #f1f1f1;
	text-align: center;
	background-color: #36AAD5;
	box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.05);
	}
	
	
	.more-about-me {
	padding-top: 40px;
	height: 400px;
	font-size: 24px;
	color: #686868;
	text-align: center;
	background-color: #D4D4D4;
	box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.05);
	}
	
	
	
	
	
	
	
	/* ----------- Experience Timeline -----------  */
	
	
	.experience-container .grid_12 {
    width: 1170px;
    margin-top: 70px;
    margin-bottom: 90px;
	}
	
	
	
	ul.flaTimeline, ul.flaTimeline li.event div {
    box-sizing: border-box;
    padding: 0;
	}
	
	ul.flaTimeline {
    border-top: 6px solid #D4D4D4;
    display: table;
    table-layout: fixed;
    width: 100%;
	}
	
	ul.flaTimeline li.event {
    clear: both;
    display: table-header-group;
    list-style: outside none none;
    width: 100%;
	}

	ul.flaTimeline li.event .date {
    text-align: left;
    width: 50%;   
    padding-right: 10px;   
 
	}
	
	
	ul.flaTimeline li.event .date, ul.flaTimeline li.event .circle, ul.flaTimeline li.event .contentWrapper {
    display: table-cell;
	}
	
	ul.flaTimeline, ul.flaTimeline li.event div {
    box-sizing: border-box;
    padding: 0;
	}

	ul.flaTimeline li.event .contentWrapper {
    border-left: 6px solid #D4D4D4;
    padding-left: 10px;
	}
	
	ul.flaTimeline li.event .date, ul.flaTimeline li.event .circle, ul.flaTimeline li.event .contentWrapper {
    display: table-cell;
	}
	
	ul.flaTimeline, ul.flaTimeline li.event div {
    box-sizing: border-box;
    padding: 0;
	}

	ul.flaTimeline li.event .contentWrapper .circle {
    background: none repeat scroll 0 0 #fff;
    border: 5px solid #D4D4D4;
    border-radius: 50%;
    float: left;
    height: 24px;
    margin: 30px 0 30px -25px;
    width: 24px;
	}
	
	ul.flaTimeline li.event .date, ul.flaTimeline li.event .circle, ul.flaTimeline li.event .contentWrapper {
    display: table-cell;
	}
	
	ul.flaTimeline, ul.flaTimeline li.event div {
    box-sizing: border-box;
    padding: 0;
	}
	
	.contentWrapper p {
	font-size: large;
	color: #686868;
	margin-left: 30px;
	margin-top: 20px; 	
		
	}
	
	.exp-title h3 {
	position:relative;
	margin: 30px ;
	top: .48em;
	}
	
	
	
	/* ----------- Hex -----------  */
	
	
	.hex-image  {
		padding-top: 40px;
	}
	
	
	.hexy-hex {
	position: relative;
	margin-top: 60px;
	height: 900px;
		
	}
		
	.hexy-hex-2 {
	position: relative;
	top: -45px;	
	}
	
	.hexy-hex-3 {
	position: relative;
	top: -45px;	
	}
	
	.hexy-hex-4 {
	position: relative;
	top: -45px;	
	}
	
	.hexy-hex-5 {
	position: relative;
	top: -45px;	
	}	
	
	.lt-blue-hex {
	margin: 0px;				
	}
	
	
	.drk-grey-hex {
	margin: 0px;		
	}
	
	.lt-grey-hex {
	margin: 0px;			
	}
	
	/* ----------- Hex Hover -----------  */
	
	
	#Spirituality {
	background-image: url('http://i.imgur.com/DPTzosk.png');
	height: 200px;
	width: 175px;
	}

	#Spirituality:hover {
	background-image: url('http://i.imgur.com/Ha9YgEG.png');
	}
	
	#Honesty {
	display: inline-block;
	position: relative;
	background-image: url('http://i.imgur.com/n87uvmk.png');
	height: 200px;
	width: 175px;
	}

	#Honesty:hover {
	background-image: url('images/dark-grey-honesty.png');
	}


	#Innovation {
	display: inline-block;
	background-image: url('http://i.imgur.com/vCNrceH.png');
	height: 200px;
	width: 175px;
	}

	#Innovation:hover {
	background-image: url('images/grey-innovation.png');
	} 
	
	#Love {
	display: inline-block;
	position: relative;
	background-image: url('images/grey-hex-up-sm.png');
	height: 200px;
	width: 175px;
	}

	#Love:hover {
	background-image: url('images/grey-love.png');
	}


	#Respect {
	display: inline-block;
	background-image: url('images/blue-hex-up-sm.png');
	height: 200px;
	width: 175px;
	}

	#Respect:hover {
	background-image: url('images/blue-respect.png');
	} 
	
	#Drive {
	display: inline-block;
	position: relative;
	background-image: url('images/dark-grey-hex-up-sm.png');
	height: 200px;
	width: 175px;
	}

	#Drive:hover {
	background-image: url('images/dark-grey-drive.png');
	}
	
	
	#Honor {
	display: inline-block;
	background-image: url('images/blue-hex-up-sm.png');
	height: 200px;
	width: 175px;
	}

	#Honor:hover {
	background-image: url('images/blue-honor.png');
	} 
	
	#Devotion {
	display: inline-block;
	position: relative;
	background-image: url('images/dark-grey-hex-up-sm.png');
	height: 200px;
	width: 175px;
	}

	#Devotion:hover {
	background-image: url('images/dark-grey-devotion.png');
	}
	
	#Integrity {
	display: inline-block;
	position: relative;
	background-image: url('images/grey-hex-up-sm.png');
	height: 200px;
	width: 175px;
	}

	#Integrity:hover {
	background-image: url('images/grey-integrity.png');
	}
	
	#Wisdom {
	display: inline-block;
	background-image: url('images/blue-hex-up-sm.png');
	height: 200px;
	width: 175px;
	}

	#Wisdom:hover {
	background-image: url('images/blue-wisdom.png');
	} 

	#Passion {
	display: inline-block;
	position: relative;
	background-image: url('images/dark-grey-hex-up-sm.png');
	height: 200px;
	width: 175px;
	}

	#Passion:hover {
	background-image: url('images/dark-grey-passion.png');
	}
	
	#Virtue {
	display: inline-block;
	position: relative;
	background-image: url('images/grey-hex-up-sm.png');
	height: 200px;
	width: 175px;
	}

	#Virtue:hover {
	background-image: url('images/grey-virtue.png');
	}
	
	#Perseverence {
	display: inline-block;
	background-image: url('images/blue-hex-up-sm.png');
	height: 200px;
	width: 175px;
	}

	#Perseverence:hover {
	background-image: url('images/blue-perseverence.png');
	} 
	
	
	#Humility {
	display: inline-block;
	position: relative;
	background-image: url('images/grey-hex-up-sm.png');
	height: 200px;
	width: 175px;
	}

	#Humility:hover {
	background-image: url('images/grey-humility.png');
	}
	
	#Giving {
	display: inline-block;
	position: relative;
	background-image: url('images/dark-grey-hex-up-sm.png');
	height: 200px;
	width: 175px;
	}

	#Giving:hover {
	background-image: url('images/dark-grey-giving.png');
	}

	
	
		
	
	/* ----------- Information -----------  */
	
	
	.left-article {
	margin: 0px ;
	width: 40%;
	float: left;
	display: inline-block;	
	padding: 70px 40px 0px 40px;	
	/* padding: 90px 20px 20px 40px;	*/
	}
		
	
	.right-article {
	margin: 0px ;
	width: 42%;
	float:right;
	display: inline-block;	
	padding: 70px 40px 0px 20px;
	/* padding: 80px 0px 20px 120px; */	
	}
	
	.left-article p {
		color: #686868;
		
	}
	
	.right-article p {
		color: #686868;
		
	}
	
	.left-column {
		width: 718px;
		float: left;

	}
			
	
	.left-article-new {
	margin: 0px ;
	display: block;
	padding: 60px 20px 10px 40px;	
	}
		
		
	.right-column {
		margin: 0px;
		width: 700px;
		float: right;
	}
		
	
	.right-article-new {
	margin: 0px ;
	display: block;	
	padding: 0px 0px 0px 40px;	
	}
	
	.left-article-new p {
		color: #686868;
		
	}
	
	.right-article-new p {
		color: #686868;
		
	}
	
	.right-image {
		width:auto;
		padding: 80px 70px 0px 10px;
		background-size: 800px;		
	}
	
	.clear {
    clear: both;
	}
	
	
	
	
	
	
	
	
	
	
	/* ----------- Education -----------  */
	
	
	.education {
	display: inline-block;
	margin: 80px -4px 0px 0px;
	/*margin-bottom: 10px; */
	padding-top: 40px;
	height: 400px;
	width: 717px;
	font-size: 24px;
	color: #f1f1f1;
	text-align: center;
	background-color: #36AAD5;
	box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.05);
	}
	
	
	.experience {
	display: inline-block; 	
	padding-top: 40px;
	height: 400px;
	width: 718px;
	font-size: 24px;
	color: #686868;
	text-align: center;
	background-color: #D4D4D4;
	box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.05);
	}
	
	.education-new {
	display: inline-block;
	margin: 80px -4px 0px 0px;
	/*margin-bottom: 10px; */
	padding-top: 40px;
	height: 400px;
	width: 717px;
	font-size: 24px;
	color: #686868;
	text-align: center;
	background-color: #D4D4D4;
	box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.05);
	}
	
	
	.experience-new {
	display: inline-block; 	
	padding-top: 40px;
	height: 400px;
	width: 718px;
	font-size: 24px;
	color: #f1f1f1;
	text-align: center;
	background-color: #36AAD5;
	box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.05);
	}

	
	/* ----------- Footer -----------  */


	#footer {
    background-color: #686868;
    color: #D4D4D4;
    padding: 60px 0 170px;
    width: 100%;
    height: 300px;
	}
	
	#footer strong {
    color: #D4D4D4;
	}
	
	#footer p a {
    color: #36AAd5;
	}
	
	a {
    color: #333;
    text-decoration: none;
	}	
	
	footer-container {
    margin: 0 auto;
    width: 1260px;
	}
	
	.footer-container p {
	color: #D4D4D4;	
		
	}
	
	#footer .col_contact {
	display: inline-block;
    padding-bottom: 30px;
    width: 370px;
    margin: 0px 10px 0px 75px;
	}
	
	.social-media-icons {
	width: 450px;
	padding: 101px 80px 0px 0px; 
	display: inline-block;
	position: relative;
	bottom: 50px;
	right: 45px;
	
	}
		
	.linkedin {
	display:  inline-block;
	position: relative;
	background-image: url('images/linkedin_circle_black-44.png');
	margin: 0px 15px;
	height: 64px;
	width: 64px;
	}

	.linkedin:hover {
	background-image: url('images/linkedin_circle_black-44-blue.png');
	}
	
	.github {
	display: inline-block;	
	position: relative;
	background-image: url('images/githubl_circle_black-64.png');
	margin: 0px 15px 0px 15px;
	height: 64px;
	width: 64px;
	}

	.github:hover {
	background-image: url('images/githubl_circle_black-64-blue.png');
	}
	
	.google-plus {
	display: inline-block;
	position: relative;
	background-image: url('images/google-plus-64.png');
	margin: 0px 15px;
	height: 64px;
	width: 64px;
	}

	.google-plus:hover {
	background-image: url('images/google-plus-64-blue.png');
	}
	
		
	.clear {
    clear: both;
	}
	
	
	/* ----------- Footer Navigation -----------  */
	
	
	.footer-nav {
    width: 100%;
	}
	
	
	.footer-nav-container {
    margin: 0px auto;
    width: 1160px;
	}
	
	
	.footer-nav ul {
    display: block;
    margin: 0;
    padding: 28px 0 20px 0;

	}
	

	ol, ul {
    list-style: outside none none;
	}	


	.footer-nav ul li {
    display: block;
    float: left;
    margin: 0 0 0 25px;
    padding: 0;
	}
	
	
	.footer-nav ul li a {
    color: #f1f1f1;
    display: block;
    font-size: 22px;
    font-weight: 700;
    height: 21px;
    line-height: 21px;
    text-decoration: none;
    text-transform: uppercase;
	}
	
	.footer-nav ul li a:hover {
    color: #35acd7;
    
	}
	
	




